<h2 [appHighlight]="'orange'" (click)="toggleModal()">
  pick a highlight color
</h2>
<app-modal *ngIf="modalOpen"></app-modal>
<p [appHighlight]="color">This is the highlightable thing...</p>
<h2>Button press counter: {{ goalCount }}</h2>
<form>
  <input
    type="text"
    name="test"
    placeholder="Two way data binding"
    [(ngModel)]="twoWayBinding"
  />
  <p>{{ twoWayBinding }}</p>
  <input
    type="submit"
    [value]="value"
    (click)="submitForm()"
    [disabled]="twoWayBinding === ''"
  />
</form>
<div>
  <p *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
    {{ goal }}
  </p>
</div>
